# Pycharm project files
.idea

# Python cache files
*.py[cdo]
__pycache__/

# Build dirs and files
build/
dist/
MANIFEST

# Libui shared libs
sharedlibs/

# OS X
.DS_Store

pylibui/libui.py
pylibui/libui_wrap.c

*.so
*.dylib
